{
  "trailingComma": "none",
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["clsx"],
  "printWidth": 80,
  "importOrder": [
    "^react$",
    "^next/(.*)$",
    "^react-dom$",
    "^react-hook-form$",
    "^jotai$",
    "^ts-hooks$",
    "^lucide-react$",
    "^@/components/(.*)$",
    "^@/pages/(.*)$",
    "^@/atoms/(.*)$",
    "^@/molecules/(.*)$",
    "^@/organisms/(.*)$",
    "^@/templates/(.*)$",
    "^@/utils/(.*)$",
    "^sonner$",
    "^@/hooks/(.*)$",
    "^@/lib/(.*)$",
    "^@/styles/(.*)$",
    "^[./]",
    "^@/features/(.*)$",
    "^@/context/(.*)$",
    "^@/config/(.*)$",
    "^@/types/(.*)$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "prettier-plugin-organize-imports",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
